  <ng-template photoHolder ></ng-template>
  <div  *ngIf="isLoading">

    <app-loading-indicator ></app-loading-indicator>
  </div>
  <div *ngIf="!isLoading">

    <div class="pagination">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>

    <div>
        <ul >
            <li *ngFor="let photo of photos  | paginate:{itemsPerPage: 15, currentPage:p}">
                <a (click)="showPhoto(photo.url)">
                    <img [src]="photo.thumbnailUrl" alt="Forest" style="width:150px">
                  </a>
            </li>
            
        </ul>
       
    </div>
   </div>
